:root {

  /* Primary color shades */
  --md-primary-fg-color: #5B6C5D;
  --md-primary-fg-color--light: #7A907C;
  --md-primary-fg-color--dark: #414E42;

  /* Accent color shades */
  --md-accent-fg-color: #c9191e;
  --md-accent-fg-color--light: #E6373D;
  --md-accent-fg-color--dark: #911216;

  --md-third-color: #5F4556;
  --md-third-color--light: #825E76;
  --md-third-color--dark: #3B2C35;

  --md-fourth-color: #E2CCA2;
  --md-fourth-color--light: #ECDEC3;
  --md-fourth-color--dark: #C49845;

  /* @font-face {
      font-family: "Roboto Slab";
      src: "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet";
    }
    */
}

html {
  scroll-behavior: smooth;
}

/*Apparence annotation*/
.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}

/*Note annotation*/
.md-typeset .note>.admonition-title,
.md-typeset .note>summary {
  font-size: .8rem;
  background-color: var(--md-fourth-color--light);
}

.md-typeset .admonition.note,
.md-typeset details.note {
  border-color: var(--md-fourth-color);
}

.md-typeset .note>.admonition-title:before {
  background-color: var(-md-fourth-color);
}

/*Icon note*/
.md-typeset .note>summary:before {
  background-color: var(--md-fourth-color);
}

/*Fleche note*/
.md-typeset .note>summary:after {
  background-color: var(--md-fourth-color);
}

.md-typeset .note>.admonition-title:before {
  background-color: var(--md-fourth-color--dark);
}

.md-typeset .note>summary:before {
  background-color: var(--md-fourth-color--dark);
}

.md-typeset .note>summary:after {
  background-color: var(--md-fourth-color--dark);
}

/*info annotation*/
.md-typeset .info>.admonition-title,
.md-typeset .info>summary {
  font-size: .8rem;
  background-color: #D4C4CF;
}

.md-typeset .admonition.info,
.md-typeset details.info {
  border-color: var(--md-third-color);
}

.md-typeset .info>.admonition-title:before {
  background-color: var(--md-third-color);
}

/*Icon info*/
.md-typeset .info>summary:before {
  background-color: var(--md-third-color);
}

/*Fleche info*/
.md-typeset .info>summary:after {
  background-color: var(--md-accent-fg-color);
}


/*Typo*/
.md-typeset h2,
.md-typeset h3,
.md-typeset h4 {
  color: var(--md-accent-fg-color--dark);
  font-weight: bold;
  /*font-family: Roboto Slab;*/
}

.md-typeset h1 {
  font-weight: bold;
  color: var(--md-accent-fg-color);
}

.md-typeset h2 {
  color: var(--md-accent-fg-color--light);
}

.md-typeset .admonition,
.md-typeset details {
  font-size: .8rem;
}


/*Carte trombinoscope*/

.md-button {
  border: 0.1rem solid;
  border-radius: 15px;
  color: var(--md-accent-fg-color);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 0.625em 2em;
  margin: 0 0 30px 0;
  transition: color 125ms, background-color 125ms, border-color 125ms;
}


.md-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.md-card {
  display: flex;
  align-items: center;
  min-width: 300px;
  padding: 1rem 1rem 1rem;
  margin: 15px 8px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.10), 0px 1px 20px 0px rgba(0, 0, 0, 0.10);
  text-align: center;
}
.md-card-info_title {
  display: flex;
  align-items: baseline;
  gap: 20px;
  margin: 0 50px;
}
.md-card-info_description {
  margin: 0 50px;
}
.md-card p {
  text-align: left;
  text-indent: 5%;
}

.md-card>h4 {
  margin: 0 0 10px 0;
  color: #40455a;
}

.md-card img {
  height: 190px;
  width: 310px;
  max-width: 310px;
  object-fit: cover;
}

.md-card:nth-child(even) .md-card-image img {
  border-radius: 42% 58% 33% 67% / 45% 41% 59% 55%;
  /* Border radius for even divs */
}

.md-card:nth-child(odd) .md-card-image img {
  border-radius: 67% 33% 64% 36% / 45% 65% 35% 55%;
  /* Border radius for odd divs */
}

.auteur {
  text-align: center;
}

.md-tabs {
  background-color: var(--md-default-fg-color--lightest);
}

.md-typeset h3 {
  color: var(--md-primary-fg-color--dark);
  font-weight: 500;
}

.md-typeset h4 {
  color: var(--md-accent-fg-color--dark);
}

/* banner wave*/

.mdx-hero__image img {
  height: auto;
  width: 100%;
}

.image-large {
  display: none;
}

.image-small {
  display: block;
}

.mdx-hero__content {
  margin: 35px 100px 0 100px;
}

/* Color footer */
.md-footer {
  background-color: var(--md-primary-fg-color);
}
.md-copyright { 
  font-size: 14px;
}
html .md-footer-meta.md-typeset a { 
  font-weight: normal;
}

.logo-inria img {
  height: 30px;
}

/*position du figcaption images*/
.md-typeset figure {
  position: relative;
}

 /*footer image*/
 .mdx-footer__image img {
  width: 100%;
  
}

.md-typeset a {
  color: var(--md-accent-fg-color--light);
  font-weight: bold ;
}

.md-typeset a:hover {
  color: var(--md-fourth-color--dark);
}